@import '../../index.scss';
.footer{
    background-color: $azul-escuro;
    color: $branco;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}